<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>YouConnect </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <!--  <link rel="stylesheet" href="/css/style.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: flex; flex-direction: row; justify-content: space-between;">
        <div><h2 style="color:white;">
          Howdy <%= currentUser.firstName %>, 
           <%= currentUser.lastName %>!
         </h2>
        </div>
        <div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active mr-sm-2">
              <a href="/users/<%= currentUser.id %>/edit" class="btn btn-light" >Edit Profile  </a>
            </li>
            <li class="nav-item active mr-sm-2">
              <a href="#" class="btn btn-light" >Settings  </a>
            </li>
            <li class="nav-item">
              <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log Out" class="btn btn-light" />
              </form>
            </li>
          </ul>
        </div>
        
<!--         <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Connection Name" aria-label="Search">
          <button class="btn btn-light" type="submit">Find</button>
        </form> -->
      </div>
    </nav>
    <div class="jumbotron" style="align-items:center;">
     <div style="text-align:center;">
      <h1>Available Connections</h1><br>
     </div> 
  </div>
  <div style="margin:0px 100px 0px 100px; display:flex; flex-wrap: wrap; flex-direction: row; justify-content: center; align-items:center;">
    <% for (let i = 0; i < users.length; i++) { %>
      <% if (users[i].id != currentUser.id) { %>
    <div class="card" style="width:200px; margin:5px; display:flex; flex-direction: column; justify-content: center; align-items:center;">
      <img class="img img-fluid" style="width:100px; height:100px; border-radius:50px; margin-top:10px" src="<%= users[i].img %>" onerror=this.src="img/people.png">
        <%= users[i].firstName %> <br>
        <%= users[i].lastName %> <br>
      <div> <a href="/users/<%= users[i].id %>">
              <%= users[i].username %> 
            </a>
      </div>
      <form action="/users?_method=EDIT" method="POST">
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Add to Network"/>
        </div>
      </form>
    </div>
      <% } %>
    <% } %>
  </div>

 </body>
</html>