<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>YouConnect </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="position:sticky; top:0">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: flex; flex-direction: row; justify-content: space-between;">
        <div><h2 style="color:white;">
          Howdy <%= currentUser.firstName %>!
         </h2>
        </div>
        <div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active mr-sm-2">
              <a href="/users/<%= currentUser.id %>/edit" class="btn btn-light" >Edit Profile  </a>
            </li>
            <li class="nav-item active mr-sm-2">
              <a href="/users/<%= currentUser.id %>/inbox" class="btn btn-light" >Inbox</a>
            </li>
            <li class="nav-item">
              <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log Out" class="btn btn-light" />
              </form>
            </li>
          </ul>
        </div>
        
<!--         <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Connection Name" aria-label="Search">
          <button class="btn btn-light" type="submit">Find</button>
        </form> -->
      </div>
    </nav>
    <div class="jumbotron" style="align-items:center; position:sticky; top:60px">
     <div style="text-align:center;">
      <div class="input-group mb-2" style="width:50%; margin-left:25%">
         <input  class="form-control" style="width:90%; background-color: white; border-radius:25px;" type="text" id="searchInput" onkeyup="search()" placeholder="Search for connection names.." title="Type in a name">  
         <span style="margin:5px; position:absolute; left:95%;"> <svg width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg></span>
       </div>
     </div> 
  </div>
  <div style="margin:0% 10% 0px 10%; display:flex; flex-wrap: wrap; flex-direction: row; justify-content: center; align-items:baseline;width:80%">

    <table class="table table-hover" id="connections" style="width:100%;">
      <thead> <th> Connection Details</th> 
               <th> Network Groups </th>
              <th> Actions </th>
      </thead>
  <% for (let i = 0; i < users.length; i++) { %>
      <% if (users[i].id != currentUser.id) { %>
      <tr>
        <td style="display:flex; justify-content: flex-start; align-items:center">      
          <img class="img img-fluid" style="width:100px; height:100px; border-radius:50px; margin-top:10px" src="<%= users[i].img %>" onerror=this.src="img/people.png">
            <div>  <%= users[i].firstName %> | </div>
              <div style="margin-left:5px"> <%= users[i].lastName %> |  </div>
            <div style="margin-left:5px"> 
                  <a href="/users/<%= users[i].id %>"> 
                    <%= users[i].username %> 
                  </a>
            </div>
          </td>
 

     
              <% if (!(currentUser.userConnections.map((e) => {return e.connectionId}).indexOf(users[i].id) > -1)) {%>
                <th style="color:red"> Out</th>
                <td>
                <form action="/users/<%= currentUser.id %>/<%= users[i].id%>/update?_method=PUT" method="POST">
                    <button type="submit" style="border:none; background: none;">
                      <svg width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-person-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM6 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm4.5 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                      </svg><br>
                      <h6 style="font-size:10px">Add Connection</h6>
                    </button>
                </form>
              </td>
              <% } %>

              <% if ((currentUser.userConnections.map((e) => {return e.connectionId}).indexOf(users[i].id) > -1)) {%>
                <th style="color:green"> In</th>
                <td>
                <a class="btn"  style="border:none; background: none;" href="/users/<%= users[i].id %>"> 
                  <svg width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-chat-left-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v11.586l2-2A2 2 0 0 1 4.414 11H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                  </svg><br>
                  <h6 style="font-size:10px">Message</h6>
                </a>
              </td>
              <% } %>
      </tr>
        <% } %>

    <% } %>
  </table>
  </div>
  <script>
    //display toggle based on search input
    function search() {
      var filter = document.getElementById("searchInput").value.toUpperCase();
      var table = document.getElementById("connections");
      var tr = table.getElementsByTagName("tr");
      for (let i = 0; i < tr.length; i++) {
        let td = tr[i].getElementsByTagName("td")[0];
        if (td) {
         let txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else 
          {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    </script>
 </body>
</html>


